//-
//-	Sections
//-

mixin hero(header, subtitle, image)
	section.container
			.header=header
			.header.subtitle=subtitle
	section.longcard 
		picture.longcard-img
			source(srcset=image[0] type="image/webp")
			img.longcard-img-src.cover(src=image[1])


mixin timeline(...items)
	section.container-accent
		.container: +title('Process')
		.timeline.flex
			each x in items
				.circle
				a.line(href=x[2])
					.descriptor=x[0]
					.timelinetext.semi-bold
						each y in x[1]
							.grey=y
			.circle

mixin logistics(roles, team, time)
	+section('logistics')
		+title('Logistics')
		.flex
			.bold My Role
				each role in roles
					.grey=role[0]
					each task in role[1]
						.grey.semi-bold.indent=task
			if team.length
				.bold #{team.length} Person Team
					each person in team
						.grey=person
			.bold Timeframe
				.grey=time

mixin section(id)
	section.container(id=id)
		block

//-
//-	Components
//-

mixin title(x)
	.title=x

mixin subtitle(x)
	.title.grey.bold=x

mixin paragraph(...text)
	each x in text
		.paragraph!=x

mixin link(href, text)
	.link: a.blue(href=href)&attributes(attributes)=text

mixin contact(href, text, label)
	.reach-out-contact
		a(href=href, target="_blank")
			|#{text} 
			span.bold.blue.link=label

//-
//-	Cards
//-

mixin card(href,tag,title,byline)
	a.card(href=href)
		.card-tag=tag
		picture.card-img
			source(
				srcset!=attributes.srcset
				sizes = `(max-width:256px) 150px,
						(max-width:512px) 300px,
						500px`
				type = "image/webp"
			)
			img.card-img-src(src=attributes.pngsrc alt=attributes.alt)
		.card-info
			.card-title=title
			.card-byline=byline

mixin coinme_card
	+card('/coinme', 'Wireframing', 'Coinme', 'Keeping all your alt coins in the same place.')(
			srcset=`//res.cloudinary.com/kvax/image/upload/c_scale,h_200/v1543432729/kv.ax/coinme.webp 256w, 
					//res.cloudinary.com/kvax/image/upload/c_scale,h_500/v1543432729/kv.ax/coinme.webp 512w, 
					//res.cloudinary.com/kvax/image/upload/c_scale,h_1000/v1543432729/kv.ax/coinme.webp 1024w`
			,pngsrc = '//res.cloudinary.com/kvax/image/upload/v1543432729/kv.ax/coinme.png'
			,alt = 'Coinme Mockup'
			)

mixin butter_card
	+card('/butter', 'UX Design', 'Butterhome', 'A retro home decor shoppping experience.')(
			srcset=`//res.cloudinary.com/kvax/image/upload/c_scale,h_200/v1543432726/kv.ax/butter.webp 256w, 
					//res.cloudinary.com/kvax/image/upload/c_scale,h_500/v1543432726/kv.ax/butter.webp 512w, 
					//res.cloudinary.com/kvax/image/upload/c_scale,h_1000/v1543432726/kv.ax/butter.webp 1024w`
			,pngsrc = '//res.cloudinary.com/kvax/image/upload/v1543432726/kv.ax/butter.png'
			,alt = 'Butterhome Mockup'
			)

mixin trip_card
	+card('/trip', 'Mockup/Wireframing', 'Metro Trip Planner', 'For an easier commute.')(
			srcset=`//res.cloudinary.com/kvax/image/upload/c_scale,h_200/v1543432726/kv.ax/trip.webp 256w, 
								//res.cloudinary.com/kvax/image/upload/c_scale,h_500/v1543432726/kv.ax/trip.webp 512w, 
								//res.cloudinary.com/kvax/image/upload/c_scale,h_1000/v1543432726/kv.ax/trip.webp 1024w`
			,pngsrc = '//res.cloudinary.com/kvax/image/upload/v1543432726/kv.ax/trip.png'
			,alt = 'Metro Trip Planner Mockup'
			)

mixin charted_card
	+card('/charted', 'UX Generalist', 'Charted', 'Analyzing cryptocoin markets on the go.')(
				srcset=`//res.cloudinary.com/kvax/image/upload/c_scale,h_200/v1543432728/kv.ax/charted.webp 256w, 
									//res.cloudinary.com/kvax/image/upload/c_scale,h_500/v1543432728/kv.ax/charted.webp 512w, 
									//res.cloudinary.com/kvax/image/upload/c_scale,h_1000/v1543432728/kv.ax/charted.webp 1024w`
				,pngsrc = '//res.cloudinary.com/kvax/image/upload/v1543432728/kv.ax/charted.png'
				,alt = 'Charted Mockup'
				)

mixin sme_card
	+card('/sme', 'Full Stack', 'Skilledtra.de', 'Technical Analysis for the Steam Community Market.')(
				srcset=`//res.cloudinary.com/kvax/image/upload/v1543432729/kv.ax/trade.webp 256w, 
									//res.cloudinary.com/kvax/image/upload/v1543432729/kv.ax/trade.webp 512w, 
									//res.cloudinary.com/kvax/image/upload/v1543432729/kv.ax/trade.webp 1024w`
				,pngsrc = '//res.cloudinary.com/kvax/image/upload/v1543432729/kv.ax/trade.png'
				,alt = 'Skilledtra.de Mockup'
				)

mixin imagecard(...images)
	section: .cards
			each image in images
				picture.imagecard
					source(srcset=image[0] type="image/webp")
					img.cardimg(src=image[1])