extends ../components/casestudy

block casestudy
	+hero('King County Metro Trip Planner Redesign', 'For an easier commute.', ['//res.cloudinary.com/kvax/image/upload/v1560571973/kv.ax/metro/metrotrip.webp', '//res.cloudinary.com/kvax/image/upload/v1560571973/kv.ax/metro/metrotrip.png'])

	+section
		+title('Problem')
		+paragraph('Public transit riders want to reach their destinations with as little hassle as possible, but the lack of straightforward tools for searching for destinations, as well as planning and saving future routes, can lead to stress, frustration, and unexpected delays.')

	+timeline(
			['Defining Scope',				['Problem Statement',		'Hypothesis',			'Competitive Analysis']]
		,	['Research',					['Stakeholder Interviews',	'Contextual Inquiry',	'Competitive Element',	'User Interviews',			'Validating Personas'],																				'#research']
		,	['Information Architecture',	['User Flows',	'Task Flows',	'Card Sort',	'Content Strategy'],																																		'#info']
		,	['Wireframing',					['Initial Sketches',		'Contextual Inquiry',	'Wireframe V.1',		'Usability test on V.1',	'Wireframe V.2',		'Usability test on V.2',	'Wireframe V.3',	'Usability test on V.3'],	'#wireframes']
		,	['Visual Design',				['Design Analysis',			'UI Styleguide',		'Visual Comps'],																																		'#visual']
	)

	+logistics(
			[['UX Designer',	['Shared Responsibilities']]]
		,	['3 UX Designers',	'1 Visual Designer']
		,	['October 15th - October 24th 2018']
	)

	+section('research')
		+title('Research')
		+subtitle('Feature Inventory')

	+imagecard(
				['//res.cloudinary.com/kvax/image/upload/c_scale,w_1000/v1560664227/kv.ax/metro/feature_inventory.webp', '//res.cloudinary.com/kvax/image/upload/c_scale,w_1000/v1560664227/kv.ax/metro/feature_inventory.png']
	)

	+section
		+paragraph('To kick off our research I settled on creating a feature inventory of the existing app compared to competitors out there, what we found is that while the other apps were more feature rich, Metro Trip Planner provided bus schedules while the majority of other apps did not.')
		+subtitle('Evaluating Brand Design')
		+paragraph('Paragraph.')
		+subtitle('Analysing App Reviews')
		+paragraph('Paragraph.')

	+section('info')
		+title('Information Architecture')
		+subtitle('Analyzing The Existing Sitemap')
		+paragraph('Paragraph.')
		+subtitle('Creating Task Flows')
		+paragraph('Paragraph.')

	+section('wireframes')
		+title('Wireframes')
		+subtitle('Paper Sketch Prototype')
		+paragraph('Paragraph.')
		+subtitle('Contextual Inquiry')
		+paragraph('Paragraph.')
		+subtitle('Initial Wireframing')
		+paragraph('Paragraph.')
		+subtitle('Usability Tests On Wireframes')
		+paragraph('Paragraph.')
		+subtitle('Wireframes V.2')
		+paragraph('Paragraph.')
		+subtitle('Usability Tests On Wireframes V.2')
		+paragraph('Paragraph.')
		+subtitle('Wireframes V.3')
		+paragraph('Paragraph.')
		+subtitle('Usability Tests On Wireframes V.3')
		+paragraph('Paragraph.')


	+section('visual')
		+title('Visual Design')
		+subtitle('Creating A Style Guide')
		+paragraph('Paragraph.')
		+subtitle('Developing A Style Guide')
		+paragraph('Paragraph.')
		+subtitle('Developing Motion And Transitions ')
		+paragraph('Paragraph.')
		+subtitle('User Testing On Mockups ')
		+paragraph('Paragraph.')
		+subtitle('Implementing Changes')
		+paragraph('Paragraph.')

	+section
		+title('Links')
		+link('//play.google.com/store/apps/details?id=gov.kingcounty.dot.TripPlanner', 'Android - Puget Sound Trip Planner')(target='_blank')
		+link('//apps.apple.com/us/app/puget-sound-trip-planner/id949909187', 'IoS - Puget Sound Trip Planner')(target='_blank')

	+section
		+title('Other Projects')

	section: .cards
			+coinme_card
			+butter_card
			+charted_card
			+sme_card